{% extends "layout.html" %}
	
	{% block styles %}
	{{ super ()}}
	<link rel="stylesheet" href="{{ url_for('.static', filename='login.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('.static', filename='style.css') }}"/>
	{% endblock %}


	<!-- title -->
	{% block title %}
	Login
	{% endblock %}

	{% block nav %}
	 <nav>
            <ul>
                <li><a href="#"><img src="/static/logo.png"></a></li>
                <div id="links">
                    <li id="list-item"><a href="#">Home</a></li>
                    <li id="list-item"><a href="{{ url_for('signup')}}"">signup</a></li>
                </div>
            </ul>
     </nav>
	{% endblock %}

	{%block main %}
	<h1>Login</h1>
	<!-- signup form -->
	<form method="POST" action="/login">
		<div id="form-group">
		<div id="form-item">
			<input class="form-input" type="text" name="username" required class="username" placeholder="username">
		</div>
		<div id="form-item">
			<input class="form-input" type="password" name="password" required class="form" placeholder="password">
		</div>
			<button type="submit" id="button">Submit</button>
		</div>
	</form>

<footer class="section_alt">
    <div class="content-wrapper">
      <div class="copyright">
          <span> Futuristic Recipes &copy; 2017. All Rights Reversed.</span>
      </div>
    </div>
  </footer>

{% endblock %}