{% extends "layout.html" %}

  <!-- styling -->
  {% block styles %}
  <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet"/>
  {% endblock %}

  {%block title %}
  review
  {% endblock %}

{% block nav %}
<nav>
            <ul>
                <li><a href="#"><img src="/static/logo.png"></a></li>
                <div id="links">
                    <li id="list-item"><a href="{{ url_for('dashboard')}}"">Dashboard</a></li>
                    <li id="list-item"><a href="{{ url_for('addrecipe')}}">Add Recipe</a></li>
                </div>
            </ul>
            </nav>
{% endblock %}

{% block main %}
	<!-- Recipes -->

        <h3 id="about-me">Futuristic Recipes</h3>
           <p>This is your recipe(really!)</p>
           <P>{{recipename}}  <a href="{{ url_for('edit', id=id) }}"><button>Edit</button></a> <a href="{{url_for('delete', id=id)}}"> <button>Delete</button></a></P>

           <h1>Procedure</h1>
           {{procedures}}
{% endblock %}