{% extends "layout.html" %}
{%block styles %}
  <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet"/>
  {% endblock %}
{% block title %}
Dashboard
{% endblock %}

{% block nav %}
<nav>
            <ul>
                <li><a href="#"><img src="/static/logo.png"></a></li>
                <div id="links">
                    <li id="list-item"><a href="#">Home</a></li>
                    <li id="list-item"><a href="{{ url_for('signup')}}"">LogOut</a></li>
                </div>
            </ul>
            </nav>
{% endblock %}

{% block main %}
	<!-- About -->
      <div class="content-wrapper">

        <h3 id="about-me">Futuristic Recipes</h3>

        <div id="blurb" class="clearfix">

          <div class="aside">
            <ul>
            <li><a href="/view">Matoke  </a>  <a href="/edit">Edit  </a>  <a href="#"><span style="color: #ea433b;">  Delete</span></a></li>
            </ul>
            <ul><a href="#">Roasted Coffee</a></ul>
             <ul>
            <li><a href="#">Matoke</a></li>
            </ul>
             <ul>
            <li><a href="#">Matoke</a></li>
            </ul>
             <ul>
            <li><a href="#">Matoke</a></li>
            </ul>
             <ul>
            <li><a href="#">Matoke</a></li>
            </ul>
             <ul>
            <li><a href="#">Matoke</a></li>
            </ul> 
            <ul>
            <li><a href="#">Matoke</a></li>
            </ul>
            <ul>
            <li><a href="#">A Recipe</a></li>
            </ul>
              <ul>
            <li><a href="#">A Recipe</a></li>
            </ul>
              <ul>
            <li><a href="#">A Recipe</a></li>
            </ul>
              <ul>
            <li><a href="#">A Recipe</a></li>
            </ul>
              <ul>
            <li><a href="#">A Recipe</a></li>
            </ul>
              <ul>
            <li><a href="#">A Recipe</a></li>
            </ul>
              <ul>
            <li><a href="#">A Recipe</a></li>
            </ul>
          </div>

          <div id="spacer">
          </div>


        </div>

      </div>
<footer class="section_alt">
    <div class="content-wrapper">
      <div class="copyright">
          <span> Futuristic Recipes &copy; 2017. All Rights Reversed.
</span>
      </div>
    </div>
  </footer>
{% endblock %}
