<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300|Dawning+of+a+New+Day|Source+Sans+Pro:400,400i,700" rel="stylesheet">
        {%block styles %}
        
        {% endblock %}
        <link href="{{ url_for('static', filename='responsive.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='normalize.css') }}" rel="stylesheet"/>

        <title>Futuristic Recipes: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <div id="top" class="section_top">

        <nav>
        <ul>
            <li><a href="#"><img src="/static/logo.png"></a></li>
            <div id="links">
                <li id="list-item"><a href="#">Home</a></li>
                <li id="list-item"><a href="{{ url_for('login')}}">Login</a></li>
                <li id="list-item"><a href="{{ url_for('signup')}}"">signup</a></li>
            </div>
        </ul>
        </nav>

            {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-info" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
            {% endif %}

            <main>
                    
                    {% block main %}{% endblock %}
            </main>
            
        </div>

    </body>

</html>
